$image-context: '../../images';

/*PC端*/
.pc_header {
    width: 1000%;
}

.text-ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.main_area{
    position: relative;
    width: 1000px;
    min-height: 1200px;
    margin: 0 auto;
    background-color: #fff;

    .logo{
        position: absolute;
        background: url($image-context+'/logo.png') center no-repeat;
        height: 64px;
        width: 64px;
        margin-left: -70px;
    }
    .menu-a-style{
        &:hover{
            text-decoration: none;
        }
    }
}

.topContent{
    position: relative;
    text-align: center;
    width: 1000px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
}
.carousel img{
    width: 1000px;
    height: 300px;
}
/**下载客户端**/
.download{
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    right: 0;
    background-color: #ccc;
}
.a-style{
    color: #333;

    &:hover{
        color:#333;
        text-decoration: underline;
    }
}
.card-name-text{
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: auto 5px;
}
.showMoreList{
    position: absolute;
    top: 15px;
    right: 20px;
    color: #666;
    font-size: 12px;
}
.side-content{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #fff;
}

.personList{
    float: left;
    max-height: 500px;
    margin: 10px;
    padding-bottom: 10px;
    overflow: hidden;

    .showMore{
        float: right;
    }

    .underline{
        width: 280px;
        border-top: 1px solid #ccc;
        margin: 5px 0;
    }
} 

/*MOBILE端*/
