.user-level-content{
    position: relative;
    width: 1000px;
    margin: 0 auto;
    padding: 60px;
    background-color: #fff; 
    overflow: hidden;

    .level-seperator{
        margin: 10px auto;
        border-bottom: solid 1px #ddd;
    }

    .text-strong{
        color: #40a9ff;
        font-weight: bold; 
    }

    .text-seperator{
        padding: 0 10px;
    }

    .text-margin{
        margin: 30px 0;
    }

    .text-pl-5px{
        padding-left: 5px;
    }

    .bar{
        display: inline-block;
        width: 160px;
        height: 12px;
        margin-right: 6px;
        position: relative;
        zoom: 1;
    }

    .barbox {
        position: absolute;
        top: 7px;
        left: 0;
        z-index: 1;
        width: 160px;
        height: 4px;
        line-height: 0;
        background: #dcdfe6;
        border-radius: 4px;
    }
    
}